$mobile-width: 767px;
$desktop-width: 1296px;

// Typography
$font-family--noto-sans: "NotoSans", "Arial", sans-serif;

//Colors
$primary: #fd5631;
$secondary: #f5f4f8;
$primaryBlack: #1f1b2d;
$primaryGrey: #666276;
$lightGrey: #f5f4f8;
$grey-900: #1f1b2d;
$grey-800: #454056;
$grey-400: #d5d2dc;
$grey-200: #f5f4f8;
