.field {
  &__input {
    border: 1px solid #d5d2dc;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    min-width: 200px;
  }

  &__block {
    display: flex;
    align-items: center;
    font-family: $font-family--noto-sans;
    font-size: 20px;
  }

  &__label {
    display: block;
    min-width: 120px;
  }
}
